@page "/compiling-directive"
@implements IDisposable

<h3>CompilingDirective</h3>
<p>If we remove the <code>Dispose</code> method, Visual Studio 2022 will emit an error when building the project.</p>

@code {
    public void Dispose()
    {

    }
}
