<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Directive</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compiling-directive" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Compiling Directive
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="example-dom-interactive" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Example DOM Intective
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blazor-and-html-event" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Blazor &amp; HTML event
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prevent-default-example" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Prevent Default Example
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stop-propagation-example" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Stop Propagtion Example
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-html-event" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Pass HTML Event
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-parameters" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Pass Parameters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="utility" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Utility Directive
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
